<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:ignore="UnusedAttribute,GoogleAppIndexingWarning">

        <receiver
            android:name=".Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.UID_REMOVED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service"
            android:exported="false"
            android:enabled="@bool/enable_fg_service"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".JobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".Provider"
            android:authorities="${applicationId}.provider"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>

</manifest>
